body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #161a21, #1D2162);
}

.buttonOne {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.fontOne {
	font-family: "Times New Roman";
	font-size: 25;
  color: white;

}

#myList {
  padding-top: 100px;
}

.search-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 330px;
  padding: 5 5px;
}

.search-box:hover > .search-btn {
  background: white;
  color: black;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.search-btn > i {
  font-size: 30px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.6s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}




